<h1>Novo amigo</h1>
<div>
  <form method="post">
    <label for="nome">Nome</label>
    <input type="text" id="nome" name="nome" value="">
    <label for="idade">Idade</label>
    <input type="text" id="idade" name="idade" value="">
    <label for="email">Email</label>
    <input type="text" id="email" name="email" value="">
    <input type="submit" value="enviar">
  </form>
</div>
